<a href="https://colab.research.google.com/github/Nattakonjpg/BasicProg_DataViz65/blob/main/Basic_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function ($f(x)=y$)

```python
def function(input_x) :
    do something
    return output_y

 ```

$f_1(x)=x^2 + 75$

In [ ]:
def function_f1(x):
    a = x**2  # ค่าที่ได้ ยกกำลัง 2
    y = a + 75 # เอาค่าที่ยก 2 มา +75 
    return y
    print("finish")

In [ ]:
function_f1(2)

79

### function มีส่วนสำคัญทั้งหมด  4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name(): (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output return Output (ขาดไม่ได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
    a = x**2  # ค่าที่ได้ ยกกำลัง 2
    y = a + 75 # เอาค่าที่ยก 2 มา +75 
    return y

### ตัวอย่าง function ที่มีส่วนประกอบไม่ครบ

In [ ]:
def pi_v():
    y = 3.141592654
    return y

In [ ]:
piv= pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.566370616

### Function ไม่มี process ไม่ได้

In [ ]:
def function_a():

##Function **Print**

In [ ]:
def print_name_id(name,id):             # input รับค่า
    print(f'ชื่อ {name} รหัสประจำตัว {id}') # print(input)

In [ ]:
print_name_id('ณัฐกรณ์',"633021015-9") # ป้อน input เข้าไป

ชื่อ ณัฐกรณ์ รหัสประจำตัว 633021015-9

In [ ]:
a = print_name_id('ณัฐกรณ์',"633021015-9")

NameError: ignored

In [ ]:
print(a)

None

In [ ]:
print("hello")
print("สวัสดี")

hello
สวัสดี

In [ ]:
print("hello",end="")
print("สวัสดี")

helloสวัสดี

In [ ]:
print("ณัฐกรณ์","633021015-9",sep=" => ")

ณัฐกรณ์ => 633021015-9

## Input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัวคือ name , id 

และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [ ]:
def print_grade(name,id,grade = "F"):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')
    print(f'ได้เกรด {grade}')

In [ ]:
print_grade("ณัฐกรณ์ พวงแก้ว","633021015-9","A") #ข้างในคือ input

In [ ]:
print_grade(id="633021015-9",name="Nattakon Puangkaew")

#Looping (for)

``` python
for member in listEx:
    do_something()
```

In [ ]:
for member in [1,2,3,4,5,6]:
    print(member)

In [ ]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [ ]:
for name in  ['ณัฐกรณ์','Wanchai','Wanpen'] : #สร้าง list เก็บชื่อ
    print_name(name)  #แล้วเอา list ใส่ในฟังก์ชั่น เพื่อที่จะรันฟังก์ชั่น

In [ ]:
list_name_id_grade =[["ณัฐกรณ พวงแก้ว",'015-9','A'],
                     ["วันชัย พวงแก้ว",'016-0','B+'],
                     ["วรรเพ็ญ บัวศรี",'016-1','B']]

In [ ]:
for each in list_name_id_grade :
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print("---------------")

ชื่อ ณัฐกรณ พวงแก้ว รหัสประจำตัว 015-9
ได้เกรด A
---------------
ชื่อ วันชัย พวงแก้ว รหัสประจำตัว 016-0
ได้เกรด B+
---------------
ชื่อ วรรเพ็ญ บัวศรี รหัสประจำตัว 016-1
ได้เกรด B
---------------

## for loop เพิ่มสมาชิกใน List

In [ ]:
list_name =[]           #ตั้ง list ว่าง
list_id =[]
list_grade=[]
for each in list_name_id_grade:     #วน append เพิ่มเก็บค่าของแต่ละ list
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [ ]:
list_name

NameError: ignored

### การวนลูปด้วย range()

In [ ]:
for i in range(10): # i 10 ครั้ง
    print('งง',end=" ")

งง งง งง งง งง งง งง งง งง งง

###Loop ซ้อน Loop

In [ ]:
for mem1 in range(2,4): #[2,3,4]
  print(f'now mem1 = {mem1}')# รันบรรทัดนี้ก่อน จะพิม "now mem1 = mem1 ตัวแรก"
  for mem2 in range(1,11): #[1,2,3,4,5,6,7,8,9,10] แล้วมารันบรรทัดนี้โดยการรันข้อความข้างล่าง
    print(f'{mem1} x {mem2} ={mem1*mem2}') #[2x1,2x2,...,4x10] รันจนกว่าจะคูณถึง 10 แล้วจะรันบรรทัด 2 ใหม่
  print("end inner for mem1 =", {mem1} )

now mem1 = 2
2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10
2 x 6 =12
2 x 7 =14
2 x 8 =16
2 x 9 =18
2 x 10 =20
end inner for mem1 = {2}
now mem1 = 3
3 x 1 =3
3 x 2 =6
3 x 3 =9
3 x 4 =12
3 x 5 =15
3 x 6 =18
3 x 7 =21
3 x 8 =24
3 x 9 =27
3 x 10 =30
end inner for mem1 = {3}

##Loop in funciton

In [ ]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [ ]:
print_grade_loop("Nattakon ","A")

N ได้เกรด A

In [ ]:
print_grade_loop(list_name,list_grade)

#Conditional Statement (if)

``` python
if condition1 :
    do_something() # ถ้า condition 1 เป็นจริงทำ do_something()
elif condition2:
    do_antother_thing() ## ถ้า condition 1 ไม่เป็นจริงแต่ condition 2 เป็นจริงทำ do_another_thing()
else: 
    do_the_last_thing() ### ถ้าไม่มี condition ไหนเป็นจริง ทำ do_the_last_thing()
```

In [ ]:
for n in list_name :
    if len(n)>20:
        print(f'{n} ได้เกรด A')

In [ ]:
for n in (names) :
    if len(n)>10 :
        print(f'{n} ได้เกรด A')
    else :
        print(f'{n} ได้เกรด F') # ชื่อยาวไปได้ F

['ณัฐกรณ พวงแก้ว', '015-9'] ได้เกรด F
['วันชัย พวงแก้ว', '016-0'] ได้เกรด F
['วรรเพ็ญ บัวศรี', '016-1'] ได้เกรด F

In [ ]:
names= [["ณัฐกรณ พวงแก้ว",'015-9'],
["วันชัย พวงแก้ว",'016-0'],
["วรรเพ็ญ บัวศรี",'016-1']]

#operator ที่ใช้ตรวจสอบ Condition
==, !=, >=, <=, <, >, and, or

In [ ]:
a =(10 ==20) ## 10 ไม่เท่ากับ 20
print(a)

False

In [ ]:
b = (15 <=20) and (10==20) #จริงและเท็จ = เท็จ
print(b)

False

In [ ]:
if a:
  print('x')

In [ ]:
if a or b: 
  print("x")
else:
  print("nothing")  F หรือ F

nothing