<a href="https://colab.research.google.com/github/Nattakonjpg/BasicProg_DataViz65/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive ## google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd

In [2]:
import os

In [ ]:
Unit = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_unittype.csv')
Unit.head()

In [ ]:
rent = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_volume_listing_rent.csv')
rent.head()

In [ ]:
project = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_project.csv')
project.head()

In [ ]:
eat = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_eating_score.csv')
eat.head()

**Midterm**
- หาพื้นที่ (district_name)  ที่มีจำนวนโครงการเยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
- โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)
- ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)
- พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด (7 คะแนน)
(เฉพาะ กรุงเทพมหานคร) 
- เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) (10 คะแนน)
- แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด (13 คะแนน)

In [ ]:
Unit.describe()

In [ ]:
rent.describe()

In [ ]:
dataall = Unit.merge(rent, left_on='row_number', right_on='row_number')
dataall.head()

In [ ]:
dataall['volume_of_rental'].max()

In [ ]:
Ans1 =dataall[dataall['volume_of_rental']==rent['volume_of_rental'].max()][['propertytype_name_th','volume_of_rental']]
Ans1

##โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)

In [158]:
Ans2 = dataall[dataall['volume_of_rental']==rent['volume_of_rental'].max()][['propertytype_name_en','price_min','volume_of_rental']]
Ans2

    propertytype_name_en  price_min  volume_of_rental
697                Condo  1800000.0              3996

In [135]:
print(f'โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด {Ans2}')

โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด     propertytype_name_en  volume_of_rental
697                Condo              3996

##- ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)

In [164]:
dataall2 = project.merge(eat, left_on='row_number', right_on='row_number')
dataall2.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source_y,day
0,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,66.0,58.0,68.0,72.0,64.0,49.0,68.0,70.0,baania,2022-08-31
1,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,49.0,72.0,27.0,60.0,48.0,62.0,20.0,59.0,baania,2022-08-31
2,270.0,5efc3cb4bc2af40019402f74,Golden Valley Assumption-Sriracha,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,1,Detached House,บ้าน,2590000.0,developer_10510,NaN,...,70.0,84.0,57.0,77.0,73.0,72.0,61.0,80.0,baania,2022-08-31
3,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,56.0,84.0,30.0,63.0,57.0,69.0,29.0,69.0,baania,2022-08-31
4,258.0,5e5e04d435e8160012b45527,Chanothai Sukhonthasawat 8,ชโนทัย สุคนธสวัสดิ์ 8,3,Townhome,ทาวน์โฮม,6990000.0,developer_10657,"Chanothai Estate Co., Ltd.",...,71.0,74.0,69.0,74.0,65.0,60.0,60.0,71.0,baania,2022-08-31

In [160]:
dataall2['price_min'].mean() #['price_min'].mean()

4400366.1942990115

In [162]:
dataall2['subdistrict_name_th'].describe()

KeyError: ignored