<a href="https://colab.research.google.com/github/Nattakonjpg/BasicProg_DataViz65/blob/main/Midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive ## google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
import os

In [ ]:
Unit = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_unittype.csv')
Unit.head()

In [ ]:
rent = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_volume_listing_rent.csv')
rent.head()

In [ ]:
project = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_project.csv')
project.head()

In [ ]:
eat = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_eating_score.csv')
eat

##ลบค่า Missing

In [ ]:
unit1=Unit.dropna(subset=['row_number','unittype_id','project_id','propertytype_id','propertytype_name_en','propertytype_name_th'])

In [27]:
project1=project.dropna(subset=['project_id','name_th','propertytype_id','propertytype_name_th','developer_id',])

In [28]:
rent1=rent.dropna(subset=['row_number','transction_year','transction_month','listing_province_name_th','listing_district_name_th','project_propertytype_name_th','volume_of_rental'])

In [105]:
eat1=eat.dropna(subset=['row_number','subdistrict_id','subdistrict_name_th','district_id','district_name_th','province_id','province_name_th','eating_daytime','eating_daytime_price','eating_daytime_variety','eating_nighttime_variety'])
eat1.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0,baania,2022-08-31
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0,baania,2022-08-31

**Midterm**
- หาพื้นที่ (district_name)  ที่มีจำนวนโครงการเยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
- โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)
- ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)
- พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด (7 คะแนน)
(เฉพาะ กรุงเทพมหานคร) 
- เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) (10 คะแนน)
- แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด (13 คะแนน)

##ข้อ 1 หาพื้นที่ (district_name)  ที่มีจำนวนโครงการ(name_th)เยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
เปรียบเทียบ หาพท.โครงการเยอะสุด
- groupby 
- เรียงว่าอันไหนเยอะสุด
- ถ้าไม่ตรงกัน พื้นที่จัตุจักรมีโครงการเยอะสุด แต่สีลมต้องการเช่าเยอะสุด

In [ ]:
dataall = project1.merge(eat1, left_on='row_number', right_on='row_number')
dataall.head()

In [ ]:
dataall2 =dataall.merge(rent1, left_on='row_number', right_on='row_number')
dataall2.head()

In [ ]:
name1=dataall2["district_name_th_x"]
name2=dataall2["district_name_th_y"]
print(name1,name2)

In [131]:
name=pd.concat([name1,name2])
name[[0]]

0            พานทอง
0    เมืองเชียงใหม่
dtype: object

In [129]:
dataall2.groupby("district_name_th_y")[["name_th"]].max().sort_values(by=["name_th"], ascending=False)#_y = ชื่อพื้นที่ทั่วประเทศ ทีมีโครงการเยอะสุด
ans_1_1 = dataall2.groupby("district_name_th_y")[["name_th"]].max().reset_index().sort_values(by=["name_th"], ascending=False)
ans_1_1

    district_name_th_y                          name_th
73               วัฒนา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
70             ลำลูกกา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
102     เมืองเชียงใหม่  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
15            ตลิ่งชัน  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
99          เมืองระยอง  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
..                 ...                              ...
93          เกาะจันทร์           บ้านพฤกษา ราชพฤกษ์-345
4            คลองสามวา                     บ้านทวีทอง 1
30               บางนา                      บ้านกมลแก้ว
80           สันป่าตอง              บีทีเอส เรสซิเด้นซ์
27         บางขุนเทียน               บิสพอยท์ 4 ไทวัสดุ

[106 rows x 2 columns]

In [ ]:
ans_1_1.iloc[0, 0]

In [ ]:
dataall2.groupby("district_name_th_x")[["name_th"]].max().sort_values(by=["name_th"], ascending=False)#_y = ชื่อพื้นที่ทั่วประเทศ ทีมีโครงการเยอะสุด
ans_1_1_1= dataall2.groupby("district_name_th_x")[["name_th"]].max().reset_index().sort_values(by=["name_th"], ascending=False)
ans_1_1_1

In [ ]:
ans_1_1_1 =

In [ ]:
ans_1_1_1.iloc[[0]]

In [ ]:
dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().sort_values(by=["volume_of_rental"], ascending=False) #_y = ชื่อพื้นที่ที่มีความต้องการเช่ามากสุด
ans_1_2 = dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().reset_index().sort_values(by=["volume_of_rental"], ascending=False)
ans_1_2

In [ ]:
ans_1_2.iloc[[0]]

In [114]:
print(f'พื้นที่ที่มีโครงการเยอะที่สุด คือ {ans_1_1.iloc[0, 0]} โครงการที่เยอะที่สุดคือ {ans_1_1.iloc[0, 1]} ')
print(f'แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ {ans_1_2.iloc[0, 0]} จำนวนความต้องการเช่า = {ans_1_2.iloc[0, 1]}  ')

พื้นที่ที่มีโครงการเยอะที่สุด คือ วัฒนา โครงการที่เยอะที่สุดคือ ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ เมืองปทุมธานี จำนวนความต้องการเช่า = 3996

##ข้อ 2 โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)

In [ ]:
dataall2["price_min"] = dataall2["price_min"].astype(float)

In [ ]:
dataall2.groupby("name_th")[["price_min"]].max().reset_index().sort_index(ascending=False)

In [ ]:
ans_2 = dataall2.groupby("name_th")[["price_min"]].max().sort_values(by=["price_min"], ascending=False)
ans_2

In [ ]:
dataall2.groupby("name_th")[["price_min"]].max().sort_index(ascending=False)

In [ ]:
print(f'โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด {Ans2}')

โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด     propertytype_name_en  price_min  volume_of_rental
697                Condo  1800000.0              3996

##- ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)
- ตารางอาหารการกิน groupby มี max สุดในอาหารการกินแล้วก็เลือกเฉพาะย่านนั้น
- mean

In [ ]:
dataall2 = project.merge(eat, left_on='row_number', right_on='row_number')
dataall2.head()

In [ ]:
dataall2['price_min'].mean() #['price_min'].mean()

In [ ]:
dataall2['subdistrict_name_th'].describe()

ข้อ 4 
- หาความต้องการเช่ามากสุด 
- เอาพื้นที่นั้น groupby มีแบบบ้าน.countmax() แบบไหนมากสุด

ข้อ6 เลือกมาเฉพาะกทม
- เปรียบเทียบราคา หาสองส่วน 
- โครงการที่แพงสุดในย่าน groupby subdisrict
  - หาอาหารการกินช่วงไหนราคาสูงสุด groupby mean -> sort รู้ย่าน หาในตารางโครงการ merge unit
- groupby ย่านหา mean ย่านที่ต่ำสุด
  - หาอาหารการกินช่วงไหนราคาสูงสุด groupby mean -> sort รู้ย่าน

ข้อ 7
- groupby จังหวัด
- sort อาหารการกินช่วงกลางวันแต่ละจังหวัด ย่านไหนมากสุด
- sort อาหารการกินช่วงกลางคืนแต่ละจังหวัด ย่านไหนมากสุด